<!-- 플로팅 연락 버튼 (옆구리 메뉴) -->
<div class="floating-contact" id="floatingContact">
    <a href="#" class="floating-btn btn-grab" id="grabBtn" target="_blank" title="Grab 택시">
        <img src="/shared/images/Float/grab.svg" alt="Grab" width="24" height="24">
    </a>
    <a href="#" class="floating-btn btn-kakao" id="kakaoBtn" target="_blank" style="display:none;" title="카카오톡 문의">
        <img src="/shared/images/Float/Kakao.svg" alt="KakaoTalk" width="24" height="24">
    </a>
    <a href="#" class="floating-btn btn-phone" id="phoneBtn" style="display:none;" title="전화 문의">
        <img src="/shared/images/Float/phone.svg" alt="Phone" width="24" height="24">
    </a>
</div>
